html {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    float: right;
    right: 0;
    /*position: absolute;*/
    font-size: 21px;
    padding: 0;
    height: 100%;
    width: 15%;
    background-color: rgb(211, 211, 211);
    border-left-style: solid;
    border-color: black;
    border-width: 0px;
}

form {
    font-size: 15px;
}
body {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 20px;
}

img {
    max-width: 10%;
    max-height: 10%;
}

footer {
    width: 100%;
    height: 8%;
    background-color: rgb(71, 71, 126);
    position: fixed;
    bottom: 0%;
    text-align: center;
}

footer p {
    color: white;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
}

footer p a {
    text-decoration: none;
    color: white;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height:100%;
}

li.menu {
    word-wrap: break-word;
}

li.menu a {
    display: block;
    height: 100%;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom-color: black;
    word-wrap: break-word;
}

li.menu a:hover:not(.active) {
    background-color: grey;
    color: white;
}

li a.active {
    color: white;
    background-color: rgb(90, 90, 175);
}

header {
    font-size: 45px;
    text-align: center;
    background-color: rgb(71, 71, 126);
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
    width: 100%;
    align-content: center;
}

.email {
    width: 30%;
}

div.myheader {
    font-size: 45px;
    color: white;
    padding: 15px;
    text-align: center;
}

article {
    padding: 20px;
    font-size: 20px;
    background-color: rgb(238, 235, 235);
    margin: 20px;
}

section {
    width: 75%;
    float: left;
    padding: 2.5%;
    font-size: 20px;
    background-color: rgb(238, 235, 235);
    margin: 2.5%;
    margin-bottom: 6%;
}

h1 {
    margin: 0;
    margin-bottom: 20px;
}

ul.collapsable {
    visibility: hidden;
    height: 0px;
}

li.collapsing:hover ul.collapsable {
    visibility: visible;
    display: block;
    height: 100%;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom-color: black;
    list-style-type: none;
}

::selection {
    color:yellow;
    background: yellowgreen;
}

li.collapsing {
    display: block;
    height: auto;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom-color: black;
}

li.collapsing {
    display: block;
    height: auto;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom-color: black;
    word-wrap: break-word;
}

li.collapsing a {
    display: block;
    height: auto;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom-color: black;
    word-wrap: break-word;
}

li.collapsing a:hover {
    color: black;
    background-color: rgb(211, 211, 211);;
}

li.collapsing:hover {
    background-color: grey;
    color: white;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    border-width: 2px;
}
th, td {
    text-align: left;
    padding-left: 5px;
    padding-right: 20%;
}

a.main {
    text-decoration: none;
    text-align: center;
    margin: 30px;
    width: 100%;
}

.anim {
    animation-name: appear;
    animation-duration: 3s;
}

@keyframes appear {
    from {color: rgb(71, 71, 126)}
    to {color: white}
}

@media screen and (max-width: 800px) {
    nav {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      height: 100%;
      position: static;
    }

    section {
        margin-bottom: 13%;
        width: 90%; /* The width is 100%, when the viewport is 800px or smaller */
      }
    
    a.main {
        margin-bottom: 0px;
    }
  }